<div class="content-section implementation carousel-demo">
    <div class="card xl:container xl:mx-auto">
        <p-carousel [value]="projects" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
        [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
        <!-- <div></div> -->
            <ng-template let-projects pTemplate="item" class="container mx-auto bg-blue-500">
                <div class="container mx-auto">
                    <app-card [project]="projects"></app-card>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>