<div class="isolate py-12 sm:py-32">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-tertiary sm:text-4xl">Let's work together.</h2>
      <p class="mt-2 text-lg leading-8 text-primary">If you'd like to talk about a project you want help with, just drop me a message.</p>
    </div>
    <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20 text-primary">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label for="first-name" class="block text-sm font-semibold leading-6 ">First name</mat-label>
            <input matInput placeholder="Steve" type="text" name="first-name" id="first-name" autocomplete="given-name" class="input-ringless text-secondary block w-full rounded-md">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label for="last-name" class="block text-sm font-semibold leading-6 ">Last name</mat-label>
            <input matInput placeholder="Dela Cruz" type="text" name="last-name" id="last-name" autocomplete="given-name" class="input-ringless text-secondary block w-full rounded-md">
          </mat-form-field>
        </div>

        <div class="sm:col-span-2">
          <mat-form-field class="example-full-width">
            <mat-label for="email" class="block text-sm font-semibold leading-6">Email</mat-label>
            <input matInput placeholder="stevegamerz@gmail.com" type="email" name="email" id="email" autocomplete="given-name" class="input-ringless text-secondary block w-full rounded-md">
          </mat-form-field>
        </div>
        <div class="sm:col-span-2">
          <mat-form-field class="example-full-width">
            <mat-label for="message" class="block text-sm font-semibold leading-6">Message</mat-label>
            <textarea  matInput placeholder="I love you" type="text" rows="4" name="message" id="message" autocomplete="given-name" class="input-ringless text-secondary block w-full rounded-md"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-[#00AC6A] px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-[#18B980] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Let's talk</button>
      </div>
    </form>
  </div>