
<app-navbar></app-navbar>
<div class="min-w-full">
    <div class="flex justify-between container mx-auto py-5 2xl:w-7/12">
        <div class=" w-1/2">
            <div class="grid place-items-center">
                <img class="h-auto w-8/12" src="assets/main-image.png" alt="image description">
            </div>
        </div>
        <div class="flex items-center w-1/2">
            <div>
                <div class=" px-2 font-bold text-2xl">
                    Hello, it's me
                </div>
                <div class="px-2 py-5 font-1 font-bold text-5xl">
                    Phillip Moran <span class="text-tertiary">•</span>
                </div>
                <div class="px-2 font-regular text-xl text-justify font-light">
                   {{bio}}
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-between container mx-auto pt-5 2xl:w-7/12 pb-5">
        
        <div class="flex items-center w-1/2 px-4">
            <div>
                <div class="underline underline-offset-1 text-tertiary px-2 font-bold text-2xl">
                    My Skills
                </div>
                <div class="px-2 py-5 font-1 font-bold text-4xl text-justify">
                    Full-stack Web and android App Development, Data Structures and Algorithms, Git & Version 
                </div>
            </div>
        </div>
        <div class="flex items-center w-1/2 px-4">
            <div class="px-2 font-regular text-xl text-justify font-light">
               {{skills}}
            </div>
        </div>
    </div>
    <div class="flex justify-between container mx-auto pb-5 2xl:w-7/12">
        <div class="grid grid-cols-3 px-4">
            <div *ngFor="let skills of skillsets">
                <app-list [skillsets]="[skills]"></app-list>
            </div>
        </div>
    </div>
    <div class="block container mx-auto py-5 2xl:w-7/12  px-6 ">
        <div class="underline underline-offset-1 text-tertiary font-bold text-2xl">
          My Projects 
        </div> 
    </div>  
    <app-multi-item-carousel></app-multi-item-carousel>
    <div class="block container mx-auto py-5 2xl:w-7/12  px-6 ">
        <div class="underline underline-offset-1 text-tertiary font-bold text-2xl">
          My Projects 
        </div> 
    </div> 
    <div class="flex justify-between container mx-auto pt-5 2xl:w-7/12 pb-5">
        <div class="flex items-center w-1/2 px-4">
            <div class="px-2 py-5 font-1 font-bold text-4xl text-justify">
                Full-stack Web and android App Development, Data Structures and Algorithms, Git & Version
                
            </div>
        </div>
        <div class="flex items-center w-1/2 px-4">
            <div class="px-2 py-5 font-1 font-bold text-4xl text-justify">
                Full-stack Web and android App Development, Data Structures and Algorithms, Git & Version 
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>