@use '@angular/material' as mat;
@include mat.core();
$lep-prim-palette: (
    50: #E2F5ED,
    100: #BAE6D1,
    200: #8CD5B4,
    300: #56C597,
    400: #18B980,
    500: #00AC6A,
    600: #009D61,
    700: #008B53,
    800: #007A47,
    900: #005B33,
    A100: #E2F5ED,
    A200: #BAE6D1,
    A400: #18B980,
    A700: #008B53,
    contrast: (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(black, 0.87),
      400: rgba(black, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(black, 0.87),
      A200: rgba(black, 0.87),
      A400: rgba(black, 0.87),
      A700: white,
    )
);
$lep-comp-palette: (
    50: #f5e5ee,
    100: #eabcd8,
    200: #df8ec0,
    300: #d25ea8,
    400: #c73597,
    500: #ba0087,
    600: #ad0083,
    700: #9d007d,
    800: #8d0077,
    900: #73006c,
    A100: #f5e5ee,
    A200: #df8ec0,
    A400: #c73597,
    A700: #9d007d,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: white,
    )
);

$lep-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$lep-warn: mat.define-palette(mat.$red-palette);
$lep-prim: mat.define-palette($lep-prim-palette);
$lep-comp: mat.define-palette($lep-comp-palette);
$lep-theme: mat.define-light-theme((
  color: (
    primary: $lep-prim,
    accent: $lep-accent,
    warn: $lep-warn,
  )
));
@include mat.core-theme($lep-theme);
.tab{
  background: mat.get-color-from-palette($lep-prim, '50-contrast');
  color: mat.get-color-from-palette($lep-prim-palette, '400');
}
.cards{
  background: mat.get-color-from-palette($lep-prim, '50-contrast');
  color: mat.get-color-from-palette($lep-prim-palette, '400');
}
.cards1{
  color:white;
  // background-color: red !important;
}
.mct{
  color: #18B980 !important;
  font-weight: bold !important;
}

.mat-mdc-card-subtitle{
  color: white !important;
}
.mcs{
  color: #18B980 !important;
  
}
.button-col{
  color:  #18B980 !important;
}
.header-bg{
  background-color: transparent !important;
  width: 100%;
  bottom: -4px;
  opacity: 0%;
}
.card-overlay{
  opacity: 0;
}
.carousel-transition{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 1000ms;
}
.card-wrapper:hover{
  .card-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 90%;
  }
  .header-bg{
    display:block;
    opacity:100%;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
    // -moz-transition: all 1s ease-in-out;
    // transition: all 1s ease-in-out;
    bottom: 0px;
  }
}
.multi-carousel{
  button{
    // background-color: #E2F5ED !important;
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 9999px !important;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 0;
  }
  .p-highlight button{
    background-color: #18B980 !important;
  }
}
@include mat.all-component-themes($lep-theme);
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-focus-label-text-color: #18B980;
  --mat-tab-header-active-label-text-color : #18B980;
  --mat-tab-header-inactive-label-text-color: white !important;
  --mat-tab-header-inactive-focus-label-text-color: #BAE6D1;
  --mat-tab-header-inactive-hover-label-text-color : #BAE6D1;
  --mdc-tab-indicator-active-indicator-color: #18B980;
  --mat-tab-header-active-hover-label-text-color: #5052c3;
  --mat-tab-header-active-ripple-color: #008B53;
  --mat-tab-header-inactive-ripple-color: rgba(black, 0.87),;
}